<div id="jp_container">
<div th:replace="~{top :: content (${page})}" />
	<div class="container-fluid">
		<div class="row">
		<div th:replace="~{sidebar :: content (${page})}" />
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
			  <h2>Music list</h2>
			  <div class="table-responsive">
				  <table id="music_list" class=" table-sm">
				    <thead>
				      <tr class="table100-head">
				        <th class="column1">Year / Ranking</th>
				        <th class="column2">Title</th>
				        <th class="column3">Artist</th>
				        <th class="column4">Play</th>
				        <th class="column5">Download<br />(※PC only)</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr ng-repeat="x in data" on-finish-render="ngRepeatFinished">
				        <td class="column1">{{x.year}} (Rank:{{x.track}})</td>
				        <td class="column2">{{x.title}}</td>
				        <td class="column3">{{x.artist}}</td>
				        <td class="column4">
				          <a class="track col-sm-3 col-md-2 mr-0" href="/download-music/{{x.id}}" title="{{x.title}}">play</a>
				        </td>
				        <td class="column5">
				          <a class="col-sm-3 col-md-2 mr-0" href="/download-music/{{x.id}}">download</a>
				        </td>
				      </tr>
				    </tbody>
				  </table>
				  Powered by <a href="http://jplayer.org/" target="_brank">jPlayer</a>
			  </div>
			</main>
		</div>
	</div>
</div>