<th:block th:fragment="content (select)">
  <nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span data-feather="music"></span>1980〜1984年代
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" ng-href="#!/search-music-list/1980">1980年</a>
            <a class="dropdown-item" ng-href="#!/search-music-list/1981">1981年</a>
            <a class="dropdown-item" ng-href="#!/search-music-list/1982">1982年</a>
            <a class="dropdown-item" ng-href="#!/search-music-list/1983">1983年</a>
            <a class="dropdown-item" ng-href="#!/search-music-list/1984">1984年</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span data-feather="music"></span>1985〜1989年代
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdown02">
            <a class="dropdown-item" ng-href="#!/search-music-list/1985">1985年</a>
            <a class="dropdown-item" ng-href="#!/search-music-list/1986">1986年</a>
            <a class="dropdown-item" ng-href="#!/search-music-list/1987">1987年</a>
            <a class="dropdown-item" ng-href="#!/search-music-list/1988">1988年</a>
            <a class="dropdown-item" ng-href="#!/search-music-list/1989">1989年</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span data-feather="music"></span>1990〜1994年代
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdown03">
            <a class="dropdown-item" ng-href="#!/search-music-list/1990">1990年</a>
            <a class="dropdown-item" ng-href="#!/search-music-list/1991">1991年</a>
            <a class="dropdown-item" ng-href="#!/search-music-list/1992">1992年</a>
            <a class="dropdown-item" ng-href="#!/search-music-list/1993">1993年</a>
            <a class="dropdown-item" ng-href="#!/search-music-list/1994">1994年</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span data-feather="music"></span>1995〜1999年代
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdown04">
            <a class="dropdown-item" ng-href="#!/search-music-list/1995">1995年</a>
            <a class="dropdown-item" ng-href="#!/search-music-list/1996">1996年</a>
            <a class="dropdown-item" ng-href="#!/search-music-list/1997">1997年</a>
            <a class="dropdown-item" ng-href="#!/search-music-list/1998">1998年</a>
            <a class="dropdown-item" ng-href="#!/search-music-list/1999">1999年</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span data-feather="music"></span>2000〜2004年代
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdown05">
            <a class="dropdown-item" ng-href="#!/search-music-list/2000">2000年</a>
            <a class="dropdown-item" ng-href="#!/search-music-list/2001">2001年</a>
            <a class="dropdown-item" ng-href="#!/search-music-list/2002">2002年</a>
            <a class="dropdown-item" ng-href="#!/search-music-list/2003">2003年</a>
            <a class="dropdown-item" ng-href="#!/search-music-list/2004">2004年</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown06" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span data-feather="music"></span>2005〜2009年代
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdown06">
            <a class="dropdown-item" ng-href="#!/search-music-list/2005">2005年</a>
            <a class="dropdown-item" ng-href="#!/search-music-list/2006">2006年</a>
            <a class="dropdown-item" ng-href="#!/search-music-list/2007">2007年</a>
            <a class="dropdown-item" ng-href="#!/search-music-list/2008">2008年</a>
            <a class="dropdown-item" ng-href="#!/search-music-list/2009">2009年</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span data-feather="music"></span>2010〜2015年代
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdown07">
            <a class="dropdown-item" ng-href="#!/search-music-list/2010">2010年</a>
            <a class="dropdown-item" ng-href="#!/search-music-list/2011">2011年</a>
            <a class="dropdown-item" ng-href="#!/search-music-list/2012">2012年</a>
            <a class="dropdown-item" ng-href="#!/search-music-list/2013">2013年</a>
            <a class="dropdown-item" ng-href="#!/search-music-list/2014">2014年</a>
            <a class="dropdown-item" ng-href="#!/search-music-list/2015">2015年</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</th:block>