<th:block th:fragment="content (select)">
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    
    <div th:replace="~{music-player :: content (${page})}" />

	<div class="input-group">
		<input type="text" class="form-control" placeholder="曲名またはアーティスト検索" aria-label="Song name or artist search" aria-describedby="button-addon" ng-model="searchWord" ng-click="search()">
		<div class="input-group-append" id="button-addon">
			<button class="btn btn-outline-secondary" type="button">検索</button>
		</div>
	</div>
    
<div class="input-group">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect">年代</label>
  </div>
  <select class="custom-select" id="inputGroupSelect" ng-model="year" ng-change="init()">
    <option selected>選択</option>
<option value="1980">１９８０年</option>
<option value="1981">１９８１年</option>
<option value="1982">１９８２年</option>
<option value="1983">１９８３年</option>
<option value="1984">１９８４年</option>
<option value="1985">１９８５年</option>
<option value="1986">１９８６年</option>
<option value="1987">１９８７年</option>
<option value="1988">１９８８年</option>
<option value="1989">１９８９年</option>
<option value="1990">１９９０年</option>
<option value="1991">１９９１年</option>
<option value="1992">１９９２年</option>
<option value="1993">１９９３年</option>
<option value="1994">１９９４年</option>
<option value="1995">１９９５年</option>
<option value="1996">１９９６年</option>
<option value="1997">１９９７年</option>
<option value="1998">１９９８年</option>
<option value="1999">１９９９年</option>
<option value="2000">２０００年</option>
<option value="2001">２００１年</option>
<option value="2002">２００２年</option>
<option value="2003">２００３年</option>
<option value="2004">２００４年</option>
<option value="2005">２００５年</option>
<option value="2006">２００６年</option>
<option value="2007">２００７年</option>
<option value="2008">２００８年</option>
<option value="2009">２００９年</option>
<option value="2010">２０１０年</option>
<option value="2011">２０１１年</option>
<option value="2012">２０１２年</option>
<option value="2013">２０１３年</option>
<option value="2014">２０１４年</option>
<option value="2015">２０１５年</option>
  </select>
</div>
    
    
    
  </nav>
</th:block>