<th:block th:fragment="content (select)">
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    
    <div th:replace="~{music-player :: content (${page})}" />

	<div class="input-group">
		<input type="text" class="form-control" placeholder="曲名またはアーティスト検索" aria-label="Song name or artist search" aria-describedby="button-addon" ng-model="searchWord" ng-click="search()">
		<div class="input-group-append" id="button-addon">
			<button class="btn btn-outline-secondary" type="button">検索</button>
		</div>
	</div>
    
<div class="input-group">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect">年代</label>
  </div>
  <select class="custom-select" id="inputGroupSelect" ng-model="year" ng-change="init()">
    <option selected>選択</option>
    <option value="1980">１９８０年</option>
    <option value="2015">２０１５年</option>
    <option value="2014">２０１４年</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
</div>
    
    
    
  </nav>
</th:block>