<th:block th:fragment="content (select)">
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="https://github.com/hexaforce" target="_brank">Hexaforce WebMusic</a>
    <ul class="navbar-nav px-3 w-100">
      <li>
        <div class="input-group mb-3">
        <input type="text" class="form-control"  ng-model="searchWord" placeholder="曲名またはアーティスト検索" aria-label="曲名またはアーティスト検索" aria-describedby="basic-addon2">
        <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" ng-click="search()">検索</button>
        </div>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav px-3 w-100">
      <li>
        <div class="input-group mb-3">
        <div class="input-group-prepend">
        <label class="input-group-text" for="inputGroupSelect">年代選択</label>
        </div>
        <select class="custom-select" ng-model="year" ng-change="init()" id="inputGroupSelect">
          <option selected>選択</option>
          <option value="1980">１９８０年</option>
          <option value="2014">２０１４年</option>
          <option value="2015">２０１５年</option>
          <option value="1980">１９８０年</option>
          <option value="1980">１９８０年</option>
          <option value="1980">１９８０年</option>
          <option value="1980">１９８０年</option>
          <option value="1980">１９８０年</option>
          <option value="1980">１９８０年</option>
          <option value="1980">１９８０年</option>
          <option value="1980">１９８０年</option>
          <option value="1980">１９８０年</option>
          <option value="1980">１９８０年</option>
          <option value="1980">１９８０年</option>
          <option value="1980">１９８０年</option>
          <option value="1980">１９８０年</option>
          <option value="1980">１９８０年</option>
          <option value="1980">１９８０年</option>
        </select>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li>
        <div th:replace="~{music-player :: content (${page})}" />
      </li>
    </ul>
  </nav>
</th:block>